.socials-wrapper
  display: flex
  .social-link
    display: block
    margin-right: 30px
    text-decoration: none
    opacity: 1
    transition: all .3s ease-in-out
    &:last-of-type
      margin-right: 0px
    &:hover
      opacity: .6
    i
      font-size: 1rem
      color: #FFFFFF
.navbar
  .socials-wrapper
    position: relative
    padding-left: 30px
    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 1px
      height: 100%
      background-color: #FFFFFF

@include media-breakpoint-down(lg)
  .navbar
    .offcanvas-body
      .socials-wrapper
        border-top: 1px solid lighten($dark-blue, 10%)
        padding-top: 20px
        padding-left: 0px
        &::before
          display: none

