.page-template-page-teams
  .instawall-section
    background-color: #ffffff

.teams-section
  .team
    &:nth-child(odd)
      background-color: $light-background
      .team-content
        hr
          background-color: $smooth-grey
        .staff-card
          background-color: #fff
    .team-image
      img
        width: 100%
        max-width: 100%
        height: auto
        object-fit: cover
    .team-content
      padding-top: 100px
      padding-bottom: 60px
      hr
        width: 100px
        height: 3px
        background-color: $light-grey
        margin: 30px auto
      .team-name
        text-align: center
        font-family: $title-font
        font-size: 2rem
        text-transform: uppercase
        margin-bottom: 40px
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        span
          &:first-of-type
            color: $primary-color
          &:last-of-type
            font-size: .9rem
            padding: 5px 10px
            background-color: $primary-color
            color: #ffff
            margin-left: 10px
      .team-players-names
        text-align: center
        font-family: $body-font
        font-weight: 700
        font-size: 1.2rem
        line-height: 2.4rem
        margin-bottom: 40px

@include media-breakpoint-down(sm)
  .teams-section
    .team
      .team-content
        padding-top: 60px
        padding-bottom: 20px
        hr
          margin: 20px auto
        .team-name
          font-size: 1.5rem
        .team-players-names
          font-size: 1.1rem
