.page-header
  padding-top: $header-xl-height + 100px
  padding-bottom: 100px
  background-color: $dark-blue
  color: #FFF
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .page-title
    font-family: $title-font
    font-weight: 600
    font-size: 2.5rem
    text-transform: uppercase
    display: inline-block
    margin-bottom: 0px
    &::after
      content: ''
      display: inline-block
      width: 45px
      height: 3px
      background-color: $primary-color
      margin-left: 10px
  #breadcrumbs
    position: absolute
    bottom: 10px
    font-family: $body-font
    font-size: .7rem
    text-transform: uppercase
    color: #fff
    margin: 0px
    opacity: .8
    a
      text-decoration: none
      color: #fff
      margin-right: 10px
      opacity: 1
      transition: all .3 ease-in-all
      &:hover
        opacity: .7
    .breadcrumb_last
      font-weight: 700
      margin-left: 10px

.page-intro,
.admin-section
  padding: 100px 0px
  background-color: $light-background
  .section-title-wrapper
    span
      background-color: $smooth-grey
  .description
    font-family: $body-font
    font-weight: normal
    font-size: 1.1rem
    line-height: 2.1rem
    color: $body-text

.admin-section
  padding-bottom: 70px

.member-card
  background-color: #fff
  display: flex
  flex-direction: column
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
  margin-bottom: 30px
  &__content
    padding: 20px 20px
  &__name
    font-family: $title-font
    font-weight: 600
    font-size: 1.1rem
    letter-spacing: -0.02em
    color: $dark-blue
    margin-bottom: 10px
  &__position
    font-family: $title-font
    font-weight: 600
    font-size: 0.8rem
    letter-spacing: -0.02em
    text-transform: uppercase
    color: $primary-color
    margin-bottom: 0px
